/* root */
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

p,
h1 {
  overflow-wrap: break-word;
}

/* Centering and BG Styles */
body {
  background:
    var(--violet) url(./images/bg-mobile.svg) no-repeat top center;
  background-size: 100%;
  height: calc(100% - 4rem);
  margin: 2rem 2rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 3.5rem;
  place-items: center;

}


/* Header Styles */
.header {
  /* background: lightpink; */
  width: 100%;
  display: grid;
  place-items: center left;
}

.logo {
  width: clamp(8rem, 42%, 12rem);
  /* Min Width: 8rem, InBetween Width: 42%, Max Width: 12rem */
}

/* Main Styles */
.main {
  /* background: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 3rem;
}

.mockup-container {
  /* background: yellow; */
  display: grid;
  place-items: center;
  width: 100%;
}

.text-container {
  /* background: green; */
  display: grid;
  place-items: center;
  width: min(100%, 30rem);
  /* Width: 100% Max Width: 30rem */
}

.mockup {
  width: min(100%, 31.875rem);
  /* Width: 100% Max Width: 31.875rem */
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: clamp(1.5rem, 6vw, 2rem);
  /* Min Width: 1.5rem, InBetween Width: 5vw, Max Width: 2rem */
  text-transform: capitalize;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.2rem);
  /* Min Width: 1.5rem, InBetween Width: 5vw, Max Width: 2rem */
  margin-bottom: 2rem;
}

.register {
  padding: .6rem;
  background: white;
  width: min(65%, 18.75rem);
  /* Width: 65% Max Width: 18.75rem */
  text-align: center;
  text-decoration: none;
  font-size: clamp(.8rem, 3vw, 1rem);
  /* Min Width: .8rem, InBetween Width: 5vw, Max Width: 1rem */
  color: var(--violet);
  border-radius: 100px;
  box-shadow: 0 3px 5px 0 rgba(0 0 0 / .5);
}


/* Footer Styles */
.footer {
  width: 100%;
  height: fit-content;
  display: grid;
  place-items: center;
  gap: 2rem;
}

.icon-tray {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

ion-icon {
  font-size: clamp(1.5rem, 7vw, 2rem);
  /* Min Width: 1.5rem, InBetween Width: 7vw, Max Width: 2rem */
  color: white;
}

.footer a {
  color: var(--soft-magenta);
}

.footer p {
  text-align: center;
}

/* Media Queries */
@media (min-width: 750px) {
  body {
    background: var(--violet) url(./images/bg-desktop.svg) no-repeat;
    background-size: auto 100%;
    margin: 2rem 4rem;
  }

  .main {
    flex-direction: row;
    width: min(100%, 81.25rem);
    /* Width: 100% Max Width: 81.25rem */
    justify-content: space-between;
  }

  .header {
    width: min(100%, 81.25rem);
    /* Width: 100% Max Width: 81.25rem */
  }

  .footer {
    width: min(100%, 81.25rem);
    /* Width: 100% Max Width: 81.25rem */
  }

  .mockup-container {
    width: min(100%, 40.625rem);
    /* Width: 100% Max Width: 40.625rem */
  }

  .mockup {
    width: max(15rem, 100%);
    /* Width: 100% Min Width: 15rem */
  }

  .text-container {
    /* background: green; */
    place-items: center left;
    width: max(50%, 34rem);
    /* Width: 34rem, Min Width: 50% */
  }

  h1 {
    text-align: left;
    font-size: clamp(1rem, 4vw, 2.5rem);
    /* Min Width: 1rem, InBetween Width: 4vw, Max Width: 2.5rem */
    width: min(100%, 30rem);
    /* Width: 100%, Max Width: 30rem */
  }

  p {
    text-align: left;
  }

  .register {
    width: min(65%, 10rem);
    /* Width: 65%, Max Width: 10rem */
  }

  .icon-tray {
    justify-content: flex-end;
  }

  ion-icon {
    font-size: clamp(1rem, 4vw, 2.5rem);
    /* Min Width: 1rem, InBetween Width: 4vw, Max Width: 2.5rem */
  }
}